.header {
    font-size: 30px;
    font-family: Norus;
    color: #732A20;
    text-decoration: none;
    text-align: center;
}

.header2 {
    font-size: 24px;
    font-family: Norus;
    color: #732A20;
    text-decoration: none;
}

.header3 {
    font-size: 24px;
    font-family: Norus;
    color: #53C76FFF;
    text-decoration: none;
}

.spinwrap {
    margin: auto;
}

.paragraph {
    font-size: 18px;
    font-family: Norus;
    color: #05212d;
    /*text-decoration: none;*/
    /*text-align: left;*/
    /*padding-left: 1rem;*/
}

.paragraph2 {
    font-size: 14px;
    font-family: Norus;
    color: #05212d;
    text-decoration: none;
}

.centralize {
    text-align: center;
    align-items: center;
}

.checkbox {
    background-color: #ffffff;
    padding: 0.5rem 0.5rem;
    height: 2.5rem;
    width: 2.5rem;

    font-size: 24px;
    border: 2px solid #05212d;
    border-radius: 4px;
    color: #05212d;

}


.buttons {
    /*max-width: 1200px;*/
    margin: 0 auto;
    display: grid;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    align-items: center;
}

.button_cancel {
    height: 4rem;

    background-color: rgb(229, 162, 134);
    border: 2px solid #E5A286FF;
    border-radius: 14px;

    font-size: 24px;
    font-family: Norus;
    color: #732A20;
    text-decoration: none;

    margin-bottom: 15px;
}

.button_cancel:hover {
    border: 3px solid #732A20;

}

.button_ok {
    height: 4rem;

    background-color: rgb(83, 199, 111);
    border: 2px solid #53C76FFF;
    border-radius: 14px;

    font-size: 24px;
    font-family: Norus;
    color: #732A20;
    text-decoration: none;
    margin-bottom: 15px;
}

.button_ok:hover {
    border: 3px solid #732A20;
}
