
.header {
    font-size: 15px;
    font-family: Norus;
    color: #05212d;
    text-decoration: none;
    text-align: left;
    padding-left: 1rem;
}

.buttons {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
    align-content: flex-start;
    text-align: left;
    padding-top: 0.5rem;
}

.button_ok {
    height: 2.5rem;
    width: 5rem;

    background-color: rgb(83, 199, 111);
    border: 2px solid #732A20;
    border-radius: 10px;

    font-size: 18px;
    font-family: Norus;
    color: #732A20;
    text-decoration: none;
}

.button_ok:hover {
    border: 3px solid #732A20;
}

.back_button {
    height: 2.5rem;
    width: 5rem;

    background-color: rgb(199, 197, 83);
    border: 2px solid #732A20;
    border-radius: 10px;

    font-size: 18px;
    font-family: Norus;
    color: #732A20;
    text-decoration: none;
    margin-bottom: 0px;
}

.back_button:hover {
    border: 3px solid #732A20;
}


.tool_line_getpos {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    /*grid-template-columns: repeat(3, 1fr);*/
    align-content: flex-start;
    text-align: left;
}

.tool_button_getpos {
    height: 2rem;
    width: 4.5rem;

    background-color: rgb(140, 183, 225);
    border: 1px solid #8CB7E1FF;
    border-radius: 10px;

    font-size: 14px;
    font-family: Norus, serif;
    color: #05212d;
    text-decoration: none;
    margin-bottom: 0;
}

.mapwrap {
    margin-top: 8px;
    border-radius: 10px;
}

