.header {
    font-size: 30px;
    font-family: Norus;
    color: #732A20;
    text-decoration: none;
    text-align: center;
}

.header_notify {
    font-size: 30px;
    font-family: Norus;
    color: #fb0000;
    text-decoration: none;
    text-align: center;
}

.header2 {
    font-size: 25px;
    font-family: Norus;
    color: #05212d;
    text-decoration: none;
    text-align: center;
}

.videoplayer {
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    /*padding-top: 25px;*/
    /*border-radius: 10px;*/
    /*margin: auto;*/
    /*align-content: center;*/
    text-align: center;
    /*width: 100%;*/
    /*max-width: calc(100% - 40px);*/
    margin: 20px auto 0; /* add 20px of top margin and center the video horizontally */
}

/*@media only screen and (min-width: 768px) {*/
/*    .videoplayer {*/
/*        width: 80%;*/
/*        margin: 20px auto 0; !* keep the top margin and center the video horizontally *!*/
/*    }*/
/*}*/

.card {
    background-color: dodgerblue;
    color: white;
    padding: 1rem;
    height: 4rem;
}

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}

@media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}

.woodpile {
    text-align: center;
    color: #592b0b;
    font-size: 7rem;
}
